* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.navbar-hidden {
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
}

#Letter1 {
    letter-spacing: 3px;
}
#Letter {
    letter-spacing: 1.5px;
}
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('./images/main-bg.jpg');
    background-size: cover;
    background-position: center;
}
#Info-Section {
    height: 100vh;
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
}
#food-section {}
#Contact-Section {
    height: 90vh;
    display: flex;
    align-items: center;
} 

